{% extends "base.html" %}
{% set active_page = "bands" %}
{% block content %}
    <h2>Bands</h2>

    <hr>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateBandsModal">Generate Bands</button>
    </p>
    {% for band in bands %}
        <div class="card">
            <div class="card-header">
                {{band.name}}
            </div>
            <div class="card-body">
                <h4 class="card-title">Members</h4>
                <ul>
                    <li>
                        <strong>Singer: </strong> {{band.singer}}
                    </li>
                    <li>
                        <strong>Guitarist: </strong> {{band.guitarist}}
                    </li>
                    <li>
                        <strong>Drummer: </strong> {{band.drummer}}
                    </li>
                    <li>
                        <strong>Bassist: </strong> {{band.bassist}}
                    </li>
                    <li>
                        <strong>Keyboardist: </strong> {{band.keyboardist}}
                    </li>
                    <li>
                        <strong>Instrumentalist: </strong> {{band.instrumentalist}}
                    </li>
                </li>
            </div>
        </div>
        <br>
    {% endfor %}

    <div class="modal fade" id="generateBandsModal" tabindex="-1" role="dialog" aria-labelledby="generateBandsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generateBandsModalLabel">Generate Bands</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to generate bands from the current members?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}