<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>Future Rockstars - {{ title }}</title>
        {% else %}
            <title>Future Rockstars</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Future Rockstars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bands">Bands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dorms">Dorms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/members">Members</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}

            <br>
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
        </div>
    
        <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>