{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
    <h2>Home</h2>

    <hr>

    <h5>Bands</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut sapien imperdiet, lobortis nibh eget, tempor lectus. In eu leo non felis vehicula eleifend at ut lacus. Ut id massa interdum mi auctor bibendum. Curabitur vehicula lacus et finibus malesuada. Quisque eget dui sed odio accumsan venenatis. Duis tincidunt condimentum libero, in luctus metus bibendum nec. Donec aliquet lectus nunc, pellentesque dignissim ante tincidunt eu. Integer vitae ornare turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sapien velit, feugiat in orci eu, consequat vestibulum risus. Vivamus vitae nunc id quam laoreet finibus. Nulla felis est, cursus non enim id, mattis euismod ligula. Suspendisse potenti. Phasellus at porttitor mi.
    </p>
    
    <hr>

    <h5>Dorms</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut sapien imperdiet, lobortis nibh eget, tempor lectus. In eu leo non felis vehicula eleifend at ut lacus. Ut id massa interdum mi auctor bibendum. Curabitur vehicula lacus et finibus malesuada. Quisque eget dui sed odio accumsan venenatis. Duis tincidunt condimentum libero, in luctus metus bibendum nec. Donec aliquet lectus nunc, pellentesque dignissim ante tincidunt eu. Integer vitae ornare turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sapien velit, feugiat in orci eu, consequat vestibulum risus. Vivamus vitae nunc id quam laoreet finibus. Nulla felis est, cursus non enim id, mattis euismod ligula. Suspendisse potenti. Phasellus at porttitor mi.
    </p>

    <hr>

    <h5>Members</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut sapien imperdiet, lobortis nibh eget, tempor lectus. In eu leo non felis vehicula eleifend at ut lacus. Ut id massa interdum mi auctor bibendum. Curabitur vehicula lacus et finibus malesuada. Quisque eget dui sed odio accumsan venenatis. Duis tincidunt condimentum libero, in luctus metus bibendum nec. Donec aliquet lectus nunc, pellentesque dignissim ante tincidunt eu. Integer vitae ornare turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sapien velit, feugiat in orci eu, consequat vestibulum risus. Vivamus vitae nunc id quam laoreet finibus. Nulla felis est, cursus non enim id, mattis euismod ligula. Suspendisse potenti. Phasellus at porttitor mi.
    </p>

    <hr>

    <h5>Actions</h5>
    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateBandsModal">Generate Bands</button>
        <button type="button" class="btn btn-secondary" style="margin-left:20px;" data-toggle="modal" data-target="#assignDormsModal">Assign Dorms</button>
    </p>

    <div class="modal fade" id="generateBandsModal" tabindex="-1" role="dialog" aria-labelledby="generateBandsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generateBandsModalLabel">Generate Bands</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to generate bands from the current members?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="assignDormsModal" tabindex="-1" role="dialog" aria-labelledby="assignDormsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignDormsModalLabel">Assign Dorms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to assign dorms to the current members?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Assign</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
