{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
    <h2>Home</h2>

    <hr>

    <h5><a href="/bands">Bands</a></h5>
    <p>
        This is where you can view the assembled list of bands and generate/re-generate bands as needed.
    </p>
    
    <hr>

    <h5><a href="/dorms">Dorms</a></h5>
    <p>
        This is where you can view the assembled list of dorms and generate/re-generate dorms as needed.
    </p>

    <hr>

    <h5><a href="/members">Members</a></h5>
    <p>
        This is where you can view all of the camp members, see their details, add new members, edit existing members, and generate emails.
    </p>
{% endblock %}
